:root{
    --color-fondo: hsl(229, 57%, 11%);
    --color-container: hsl(228, 56%, 26%);
    --raleway-text: 'Raleway', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    color: white;
    background: url(images/bg-desktop.png), var(--color-fondo);
    background-repeat: no-repeat;
    background-position: center bottom ;
    font-size: 11px;
    font-family: var(--raleway-text);
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1{
    display: inline-block;
    vertical-align: bottom;
    background-color: var(--color-container);
    padding: 3em;
    padding-right: 6em;
    border-radius: 6px;
    border-top-right-radius: 40%;
    margin-right: 2em;
}

.logo{
    display: block;
    width: 70%;
}

.logo img{
    width: 100%;
    margin-bottom: 1em;
    margin-left: 5px;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: start;
}

.icons button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-fondo);
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin: 5px;
}

.icons img{
    width: 80%;
}

.container2{
    vertical-align: bottom;
    display: inline-block;
    padding: 1.5em 3em;
    background-color: var(--color-container);
    border-radius: 6px;
    position: relative;
}

.barra-comentario{
    position: absolute;
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
    color: black; 
    right: 36px;
    top: -30px;
    box-sizing: border-box;
    border-bottom-right-radius: 0px;
    justify-content: center;
    margin: 0px;
    cursor: pointer;   
}

.barra-comentario::after{
    content: '';
    display: block;
    position: absolute;
    border-top: 8px solid white;
    border-bottom: 8px solid transparent;
    border-right: 8px solid white;
    border-left: 8px solid transparent;
    bottom: -15px;
    right: 0px;
}

.barra{
    position: relative;
    background-color: var(--color-fondo);
    width: 400px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 4px;
}

.barra-progreso{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    width: 80%;
    height: 70%;
    background: linear-gradient(to right,hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}

.texto-barra-progreso{
     display: flex;
     justify-content: space-between;
}
.circulo{
    display: flex;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    margin: 2px;
}
#negrita{
    font-weight: 900;
}

#number{
    font-weight: 900;
    font-size: 25px;
}

@media screen and (max-width: 768px){
    .containers{
        display: inline-block;
        text-align: center;
        align-items: center;
        
    }
    .container1{
        display: inline-block;
        margin-bottom: 2em;
        margin-right: 0;
    }
    .container2{
        display: block;
    }
    .barra{
        width: 100%;
    }

    .barra-comentario{
        box-sizing: border-box;
        right: unset;
        top: unset;
        border-bottom-right-radius: 10px;
        bottom: -35px;
        left: 50%;
        transform: translateX(-50%);

    }
    .barra-comentario::after{
        display: none;
    }

}
@media screen and (max-width: 375px){
    .container{
        background: url(images/bg-mobile.png);
        background-repeat: no-repeat;
    }
}